# Polish Kings - clear data

#### Import

In [1]:
import pandas as pd

#### Read data

In [96]:
polishKings = pd.read_csv("PolishKings_rawData.csv")
polishKings.head(3)

                             times                      king_info
0  Początki państwa (do 1138 roku)               Mieszko I (-992)
1  Początki państwa (do 1138 roku)    Bolesław Chrobry (967-1025)
2  Początki państwa (do 1138 roku)  Mieszko II Lambert (990-1034)

## Times clear
Separete Name of period with years

In [97]:
def get_name(string):
    symbol_place = string.find("(")
    return string[0:symbol_place].strip()

In [98]:
def get_times_second(string, rule_type):
    if "do" in string:
        if rule_type == 0:
            return int(0)
        elif rule_type == 1:
            return int(1138)
        else: return "ERROR"
    else:
        symbol_place = string.find("(")
        times_long = string[symbol_place:]
        dash_place = times_long.find("-")
        #Calc rule from
        rule_from = times_long[0:dash_place].replace("(","").strip()
        #Calc rule to
        rule_to = times_long[dash_place+1:].replace(")","").strip()
        if len(rule_to) > 4:
                rule_to = rule_to[0:4]
                
        if rule_type == 0:
            if len(rule_from) < 4:
                rule_from = int(rule_to) - 30
            return int(rule_from)
        
        elif rule_type == 1:
            return int(rule_to)
        
        else: return "ERROR"

In [99]:
polishKings['times_name'] = polishKings['times'].apply(get_name)
polishKings['times_from'] = polishKings['times'].apply(get_times_second, rule_type=0)
polishKings['times_to'] = polishKings['times'].apply(get_times_second, rule_type=1)

In [100]:
polishKings.head(3)

,times,king_info,times_name,times_from,times_to
0,Początki państwa (do 1138 roku),Mieszko I (-992),Początki państwa,0,1138
1,Początki państwa (do 1138 roku),Bolesław Chrobry (967-1025),Początki państwa,0,1138
2,Początki państwa (do 1138 roku),Mieszko II Lambert (990-1034),Początki państwa,0,1138

## Kings clear
It is necessery to get year of beginning and end of rule times.

In [101]:
#NOT USED IN FINAL VERSION
def rule_information(string):
    symbol_place = string.find("(")
    times_long = string[symbol_place:]
    dash_place = times_long.find("-")
    rule_from = times_long[0:dash_place].replace("(","").strip()
    if len(rule_from) == 0:
        return 'Birth date not 100% confirmed'
    else: return ''

In [102]:
def get_times(string, rule_type):
    symbol_place = string.find("(")
    times_long = string[symbol_place:]
    dash_place = times_long.find("-")
    #Calc rule from
    rule_from = times_long[0:dash_place].replace("(","").strip()
    #Calc rule to
    rule_to = times_long[dash_place+1:].replace(")","").strip()
    if len(rule_to) > 4:
            rule_to = rule_to[0:4]
    
    if rule_type == 0:
        if len(rule_from) == 0:
            return ''
        else:
            return int(rule_from)
        
    elif rule_type == 1:
        return int(rule_to)
    
    else: return "ERROR"

In [103]:
polishKings['kings_name'] = polishKings['king_info'].apply(get_name)
polishKings['birth_date'] = polishKings['king_info'].apply(get_times, rule_type=0)
polishKings['death_date'] = polishKings['king_info'].apply(get_times, rule_type=1)

In [104]:
polishKings.head(3)

,times,king_info,times_name,times_from,times_to,kings_name,birth_date,death_date
0,Początki państwa (do 1138 roku),Mieszko I (-992),Początki państwa,0,1138,Mieszko I,,992
1,Początki państwa (do 1138 roku),Bolesław Chrobry (967-1025),Początki państwa,0,1138,Bolesław Chrobry,967,1025
2,Początki państwa (do 1138 roku),Mieszko II Lambert (990-1034),Początki państwa,0,1138,Mieszko II Lambert,990,1034

#### Drop unnecessery raw column

In [106]:
polishKings.drop(columns=["times","king_info"], inplace=True)

In [107]:
polishKings.head()

,times_name,times_from,times_to,kings_name,birth_date,death_date
0,Początki państwa,0,1138,Mieszko I,,992
1,Początki państwa,0,1138,Bolesław Chrobry,967,1025
2,Początki państwa,0,1138,Mieszko II Lambert,990,1034
3,Początki państwa,0,1138,Bezprym,986,1032
4,Początki państwa,0,1138,Kazimierz Odnowiciel,1016,1058

In [109]:
polishKings.to_csv("PolishKings.csv", index=False)

In [110]:
polishKings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 6 columns):
times_name    33 non-null object
times_from    33 non-null int64
times_to      33 non-null int64
kings_name    33 non-null object
birth_date    33 non-null object
death_date    33 non-null int64
dtypes: int64(3), object(3)
memory usage: 1.7+ KB